.menu{
    margin-bottom: 25px;
}
.app{
    margin-top: 25px;
}

.pagina{
    border: 2px solid rgb(255, 255, 255);
}
li.list-group-item.active{
    color: white;
    background-color: rgb(58, 58, 58);
    border-color: black;
    border-left: 10px solid black;
}
li.list-group-item.active a{
    color: white;
}
li.list-group-item.active a:hover{
    color: rgb(170, 170, 170);
}
li a{
    color: black;
    text-decoration: none;
}
li a:hover{
    color: rgb(78, 78, 78);
}
